
/* Add Inter Font Family */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    top: 40px;
    right: 40px;
    position: fixed;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    background-color: rgb(199, 205, 228);
    z-index: 9999;
}

.dark-theme {
    color: #ffffff;
    background-color: #17191d;
}

.dark-theme .navbar {
    border: 1px solid rgba(255, 255, 255, 0.267);
    background-color: rgb(24, 24, 29);
}

.dark-theme h2 {
    color: #ffffff;
}

ol {
    list-style-type: none;
    margin: 12px;
    padding: 8px;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 0px;
    padding: 16px;
    font-weight: 600;
    border-radius: 16px;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.navbar li:hover {
    background-color: rgb(59, 59, 78);
    border-radius: 16px;
    transition: 300ms ease-in-out;
    cursor: pointer;
    color: #ffffff;
}

.dark-theme .navbar li:hover {
    background-color: #EAD7F5;
    border-radius: 16px;
    transition: 300ms ease-in-out;
    color: black;
}

.right-nav {
    float: right;
    margin: 0;
    padding-right: 16px;
    padding-top: 16px;
    overflow: hidden;
}

.button1 {
    padding: 8px;
    border-radius: 999px; 
    margin: 8px;
    cursor: pointer;
}

.button2 {
    padding: 8px;
    border-radius: 999px;
    margin: 8px;
    cursor: pointer;
}

body {
    display: inline;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

section2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
}

.blue {
    background: #C8D0EB;
    min-height: 1200px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
}

.hamburger {
    display: none;
    z-index: 9999;
}

@media screen and (max-width:1200px) {
    #portfolio { 
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 8px;
        margin-right: 8px;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        margin-top: 72px;
    }

    .right-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-bottom: 8px;
    }

    .navbar ol {
        display: flex;
        flex-direction: column;
    }
    
    .hamburger {
        cursor: pointer;
        display: flex;
        top: 40px;
        right: 40px;
        position: fixed;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.274);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
        background-color: rgb(199, 205, 228);
        z-index: 9999;
        padding: 16px;
    }

    .dark-theme .hamburger {
        cursor: pointer;
        display: flex;
        top: 40px;
        right: 40px;
        position: fixed;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.267);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
        background-color: #17191d;
        z-index: 9999;
        padding: 16px;
    }

    .dark-theme .hamburger img {
        filter: invert(100%);
    }

    .blue {
        min-height: 1600px;
    }

    .item:first-child { flex-basis: 100%; }
}


#portfolio h3 {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    color: #6d83ca;
    font-size: xxx-large;
}

h3 {
    display: flex;
    justify-content: center;
    color: #6d83ca;
    font-size: xxx-large;
}

h2 {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 240px;
}

p {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: large;
}

.card-image {
    display: flex;
    flex-direction: column;
    background-color: #17191d;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin: 40px;
    margin-top: 128px;
    width: 460px;
    height: 310px;
    min-width: none;
    cursor: pointer;
}

.card-image:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: 300ms ease-in-out;
    
}

.card-image img {
    max-width: 460px;
    max-height: 258px;
    object-fit: cover;
    min-width: 460px;
    min-height: 258px;
}

.card-text h4 {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 400;
    color: #dbe1f1;
    position: relative;
}

.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 133px;
}

.curve .shape-fill {
    fill: #C8D0EB;
}


.tilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 133px;
}

.tilt .shape-fill {
    fill: #ffffff;
}

.dark-theme .tilt .shape-fill {
    fill: #17191d;
}

.pink {
    min-height: 1200px;
    background: #ffffff;
}

.dark-theme .pink {
    background: #17191d;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 86px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.white {
    background: #FFFFFF;
    min-height: 1200px;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
    min-height: 250px;
    background-color: #C8D0EB;
}

footer .dark-theme {
    background: #17191d;
}

footer li {
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 1px;
    margin-top: 1px;
    margin: 16px;
    margin: 16px;
}

footer li a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

footer ul {
    text-decoration: none;
}

footer li:hover {
    text-decoration: underline;
}